# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Ignore log files
*.log
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore uploaded user profile images
/public/assets/images/users/
